@{
    ViewBag.Title = "Messaging Ping Pong";
}

<div class="jumbotron">
    <h1>Messaging Ping Pong</h1>
    <p class="lead">Messaging Ping Pong is a sample application that demonstrates how to connect frontend to backend using SignalR and messaging.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Ping</h2>
        <p>
            <input type="text" id="pingText" class="form-control" placeholder="Text to ping..."/>
        </p>
        <p>
            <button type="button" class="btn btn-primary" id="send">Send</button>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Pong</h2>
        <div id="pongs">

        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function() {
            var pingPongHub = $.connection.pingPongHub;

            pingPongHub.client.pong = function(pongText) {
                $("<div></div>", {
                    "class": "alert alert-success",
                    text: pongText
                }).appendTo("#pongs");
            };

            $.connection.hub.start().done(function() {
                $("#send").click(function() {
                    pingPongHub.server.ping($("#pingText").val());
                    $("pingText").val("").focus();
                });
            });
        });
    </script>
}