@{
    ViewBag.Title = "Messaging Ping Pong";
}

<div class="jumbotron">
    <h1>Messaging Ping Pong</h1>
    <p class="lead">Messaging Ping Pong is a sample application that demonstrates how to connect frontend to backend using SignalR and messaging.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Ping</h2>
        <p>
            <input type="text" id="pingText" class="form-control" placeholder="Text to ping..."/>
        </p>
        <p>
            <button type="button" class="btn btn-primary">Send</button>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Pong</h2>
        <p id="pongText">
            
        </p>
    </div>
</div>